@import "reset.css";

body {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    font-family: 'Vollkorn', serif;
    color: #333333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

header img {
    max-width: 125px;
    height: 40px;
}

h1 {
    font-size: 44px;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 28px;
}

h2 {
    font-size: 23px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

 h3 {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}

#process h3{
    margin-bottom: 20px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.container-wrapper {
    padding: 0 10px;
}

.d-flex {
    display: flex;
}

header {
    padding: 18px;
}

header .container-wrapper {
    align-items: center;
    justify-content: space-between;
}

/*nav {
    flex-direction: column;
}

header nav {
    gap: 1px;
}

header nav a {
    font-family: 'Montserrat', sans-serif;
    font-size: 8px;
    line-height: 15px;
    text-transform: uppercase;
    color: #404040;
}
*/

.nav header nav a {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: #404040;
}
.nav header nav a{
    row-gap: 34px;
}
.burger {
    display: flex;
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 18px;
}
.burger span {
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #333333;
}
.burger:before, .burger:after {
    content:'';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #333333;
    transition: all 0.3s  ease 0s;
}
.burger:before { top: 0 }
.burger:after { bottom: 0 }
.burger.active span{transform: scale(0) }
.burger.active:before{
    top: 50%;
    transform: rotate(-45deg) translate(0,-50%);
}
.burger.active:after{
    bottom: 50%;
    transform: rotate(45deg) translate(0,50%);
}
.open {
    display: flex !important;
}

.sec-1 {
    background-image: url("../img/bg-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 105px 0 101px;
    color: #FFFFFF;
    text-align: center;
    position: relative;
}
.sec-1 p {
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    opacity: 0.81;
}
.x-icon {
    position: absolute;
    bottom: -26px;
    left: 50%;
    transform: translateX(-50%);
}

.line {
    height: 2px;
    width: 80px;
    background: #FFFFFF;
    margin: 0 auto 25px;
}

.sec-2 {
    padding: 60px 0;
    background: #FEFEC9;
}
.sec-2 p {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #47474F;
    margin-bottom: 40px;
}

.btn {
    color: #47474F;
    background: transparent;
    border: 1px solid;
    border-bottom-width: 2px;
    padding: 13px 34px 20px;
    display: block;
    margin: 0 auto;
}

#process {
    padding: 79px 0 74px;
}

#process .line {
    background: rgba(0, 0, 0, 0.09);
    height: 2px;
    width: 80px;
    margin: 28px auto 43px;
}

img #process {
    max-width: 127px;
    height: 119px;
}


.sec-3-img {
     padding: 50px 86px;
     background: #F5F5F5;
     margin-bottom: 38px;
     margin-left: 20px;
 }

.cards-wrapper{
    flex-direction: column;
    align-items: center;
}

.cont-cards3{
    width: 300px;
}

#process p {
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    width: 300px;
    padding: 15px;
}

#projects{
    background: #F5F5F5;
    padding: 79px 0 89px;
}

#projects img{
    width: 300px;
    height: 300px;


.cards-sec4{
    background: #FFFFFF;
}

#projects h3{
    padding-top: 19px;
    padding-bottom: 4px;
}

#projects p {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    width: 300px;
    padding-bottom: 21px;
}

#projects .line {
    background: rgba(0, 0, 0, 0.09);
    height: 2px;
    width: 80px;
    margin: 28px auto 43px;
}

.sec-4-img {
    width: 300px;

}

}

footer {
    background: #000000;
    padding: 69px 0 75px;
}
footer .container{
    max-width: 546px;
}
input, textarea{
    display: block;
    width: 100%;
    font-size: 17px;
    line-height: 22px;
    font-style: italic;

}

@media (max-width:767px) {

    .burger {
        display: flex
    }

    nav   {
        display: flex;
        flex-direction: column;
        position: absolute;
        height: 79px;
        width: 50%;
        right: 0;

        z-index: 50;
        overflow-y: auto;
        padding: 8px 50px;
        background-color: #FEFEC9;
        font-family: 'Montserrat', sans-serif;
        font-size: 8px;
        line-height: 15px;
        text-transform: uppercase;
        color: #404040;
    }
}


@media (min-width:1024px){
    header img {
        max-width: 155px;
        height: 70px;
    }

    header nav a {
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        line-height: 20px;
        text-transform: uppercase;
        color: #404040;
        flex-direction: column;
    }

    header nav {
        gap: 34px;
    }

    .cards-wrapper{
        flex-direction: row;
    }

}



